@import 'https://fonts.googleapis.com/css?family=Inconsolata:400,700';

body {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    color: #333;
}


h1,h2,h3,h4,h5,h6,h7{
    font-family: arial, sans-serif;
    font-weight: 700;
}

#main {
    margin-top: 20px;
    
}

#masthead {
    width: 100%;
    border-bottom: 1px solid gainsboro;
    padding: 4px;
    padding-left: 10px;
}


.post-meta {
    color: gray;
}

.post-body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.story-preview{
    border: 0.5px solid gainsboro;
    border-radius: 4px;
    padding-bottom:10px;
    margin-bottom:10px;
		      
}

.highlight {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.highlight pre {
    background-color: #555;
    color: gainsboro;
}