---
layout: base
---
{% include base.html %}
<div class="home">
  <!-- <h1 class="page-heading">JakeKara.com</h1> -->
  <div class="post-list">
    {% for post in site.posts %}
      <div class="col-xs-12 story-preview">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
	    {{ post.title | escape }}
	  </a>
        </h2>	
        <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
	<div class="post-excerpt">{{post.excerpt}}</div>
      </div>
    {% endfor %}
  </div>
</div>
