<div class="terminal">
  <div class="col-xs-12 cmd">
    <div id="terminal_output"></div>
  </div>

  <div class="col-xs-12 cmd">
    <!-- <span id="terminal_input"></span> -->
    <div id="terminal_input_wrapper">
      <span id="terminal_prompt">$ </span>
      <span id="terminal_input" contenteditable>&nbsp</span>
      <span class="terminal_cursor">&block;</span>
      <!-- <div id="terminal_input" contenteditable></div> -->
    </div>
    <!-- <input id="terminal_input"></input> -->
  </div>
  <!-- keys -->
  <script src="{{base}}/js/keys.js"></script>
</div>
